@model internetcommerce01.DAL.Tbl_Product

@{
	ViewBag.Title = "ProductEdit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
	<h1 class="mt-4">@*Tables*@</h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a href="../Admin/Dashboard">Dashboard</a></li>
		<li class="breadcrumb-item"><a href="../Admin/Product">Products</a></li>
		<li class="breadcrumb-item active">Edit Product</li>
	</ol>
	<div class="card mb-4">
		<div class="card-header">
			<i class="fas fa-table mr-1"></i>
			Edit Product
		</div>
		<div class="card-body">
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">
					@*<h4>Tbl_Product</h4>
						<hr />*@
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })

					@*<div class="form-group">
							@Html.LabelFor(model => model.ProductID, "Product ID", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-6">
								@Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
							</div>
						</div>*@

					<div class="form-group">
						@Html.LabelFor(model => model.ProductName, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-6">
							@Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
						</div>
					</div>

					@{
						List<SelectListItem> data = ViewBag.CategoryList;
					}
					<div class="form-group">
						@Html.LabelFor(model => model.CategoryID, "Category ID", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-6">
							@Html.DropDownListFor(model => model.CategoryID, data, "----- Select -----", new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.IsActive, "Active?", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-6">
							@Html.CheckBox("IsActive")
							@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.IsDelete, "Delete?", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-6">
							@Html.CheckBox("IsDelete")
							@Html.ValidationMessageFor(model => model.IsDelete, "", new { @class = "text-danger" })
						</div>
					</div>

					@Html.HiddenFor(model => model.CreatedDate)

					<div class="form-group">
						@Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-6">
							@Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "5" })
							@*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
							@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.ProductImage, "Image", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-6">
							@Html.EditorFor(model => model.ProductImage, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.ProductImage, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.IsFeatured, "Featured?", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-6">
							@Html.CheckBox("IsFeatured")
							@Html.ValidationMessageFor(model => model.IsFeatured, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Quantity, "Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-6">
							@Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Price, "Price", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-6">
							@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-6">
							<input type="submit" value="Save" class="btn btn-info" />
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>